.fix-sidebar .top-left-part {
    background: url(/images/banner-1.png);
    background-size: cover;
}

#logo-large {
    display:block;
}

#logo-small {
    display:none;
}

.content-wrapper #logo-large {
    display:none;
}

.content-wrapper #logo-small {
    display:block;
}

.sidebar #side-menu .user-pro {
    background:none;
    background:url(../../plugins/images/profile-menu.png) no-repeat center center / cover;
}
.sidebar #side-menu .user-pro a {
  padding-left: 20px;
  color:#54667a;
  color: #a6acbc;
  color:white;
}
.sidebar #side-menu .user-pro .nav-second-level a:hover {
  color: #ff6849;
  color: #03a9f3;
  color:white;
  background:none;
}

.table-borderless tbody tr td {
    border:0;
}

.sidebar #side-menu .user-pro .nav-second-level a:focus {
  background-color: #eee;
}
.sidebar #side-menu .user-pro .arrow {
  top: 23px;
  right: 20px;
}
.sidebar #side-menu .user-pro > a {
  padding: 17px 7px 16px 15px!important;
}
.sidebar #side-menu .user-pro .img-circle {
  width: 30px;
  margin-right: 10px;
}
.sidebar #side-menu .user-pro .nav-second-level li i {
  margin-right: 5px;
}

.sidebar #side-menu .user-pro>a {
    padding: 17px 7px 16px 10px!important;
}

.btn-social-login {
  text-align: left;
}
.social-login-left {
  width:25px;
  
  text-align: center;
}

.btn-social-login span {
  vertical-align: middle;
}

.btn-github {
  background-color:#333!important
}

.spin-center {
    -webkit-transform-origin: 50% 58%;
        transform-origin:50% 58%;
        -ms-transform-origin:50% 58%; /* IE 9 */
}
